@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

:root {
  --bg-color: #1f2632;
  --text-color: #cee3e9;
  --button-color: #52ffa8;
  --container-color: #323a49;
}

.App {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.advice-container {
  background-color: var(--container-color);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  text-align: center;
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
}

.advice-container picture source,
img {
  max-width: 100%;
}

.advice-container h1 {
  color: var(--text-color);
  font-size: 1.75rem;
}

.advice-container * {
  margin: 0.75rem 0;
}

.advice-container p {
  color: var(--button-color);
  font-size: 0.875rem;
}

button {
  background-color: #52ffa8;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -2.3rem;
  cursor: pointer;
}

button img {
  width: 20px;
  height: 20px;
}

button:hover {
  box-shadow: 0 0 40px 0 rgba(82, 255, 169, 1);
  transition: 0.2sec ease-in;
}

@media (max-width: 550px) {
  .advice-container {
    width: 90%;
  }
}
